@import url('https://fonts.googleapis.com/css?family=News+Cycle:400, 700');
$button-color: rgb(28, 209, 83);
$danger-color: #f0544f;
$control-color: #c79528;
$font-color: #28283d;

a {
  width: 15em;
  margin: 0 0 0 7.5;
  font-size: 200%;
  font-weight: 400;
  color: rgb(75, 213, 238);
  opacity: 1;
  text-decoration: none;
  font: 700 1em 'News Cycle', sans-serif;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%,
  10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%,
  86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */
body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: fixed;
  top: 75%;
  transform: translate(-50%, -50%);
  width: 34em;
}

// .byline span {
//   display: inline-block;
// }

img {
  width: 50%;
}

// .star,
// .wars,
// .byline {
//   position: absolute;
// }

// .star {
//   top: -0.75em;
// }

// .wars {
//   bottom: 0em;
// }

.byline {
  color: #fff;
  font-family: 'ITC Serif Gothic', Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

@mixin input-style($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 0.5em 0;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    background-color: lighten($color, 2%);
  }
}

@mixin button-style($color) {
  @include input-style($color);
  &:hover {
    background-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 5%);
  }
  &:disabled {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $color;
  }
}

@mixin box-shadow($color) {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
input {
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0;
  color: $font-color;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
}

input {
  @include input-style(white);
}

button,
input[type='submit'] {
  @include button-style($button-color);
  &.danger {
    @include button-style($danger-color);
  }
}

.Application {
  h1 {
    text-align: center;
  }
  margin: 0.5em auto;
  max-width: 600px;
}

.Tweet {
  border: 1px solid $control-color;
  margin: 1em 0;
  padding: 1em;
}
