$button-color: rgb(28, 209, 83);
$danger-color: #f0544f;
$control-color: #c79528;
$font-color: #28283d;

@mixin input-style($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 0.5em 0;
  outline: none;
  padding: 1em;
  width: 100%;
  color: white;
  background-color: black;
  &:focus {
    // background-color: lighten($color, 2%);
    color: white;
    background-color: black;
  }
}

@mixin button-style($color) {
  @include input-style($color);
  &:hover {
    background-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 5%);
  }
  &:disabled {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $color;
  }
}

@mixin box-shadow($color) {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
input {
  color: $font-color;
  // color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0;
  color: $font-color;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
}

input {
  @include input-style(white);
  color: white;
  background-color: black;
}

button,
input[type='submit'] {
  @include button-style($button-color);
  &.danger {
    @include button-style($danger-color);
  }
}

input.search-query {
  /* css */
  color: red;
}

.Application {
  h1 {
    // text-align: center;
  }
  margin: 0.5em auto;
  max-width: 600px;
  // max-width: 550px;
}

.Tweet {
  border: 1px solid $control-color;
  margin: 1em 0;
  padding: 1em;
}

* {
  box-sizing: border-box;
  /* Box sizing. Thanks Chris Coyier! */
  position: relative;
}

body {
  background: #000;
  height: 100vh;
  text-align: center;
}

.logo {
  // animation:fly 10s linear infinite;
  // animation: fly 10s linear 1 7s;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/694px-Star_Wars_Logo.svg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // filter: grayscale(100%);
  filter: grayscale(100%);
  bottom: 0;
  // display: none;
  left: 0;
  // position: absolute;
  right: 0;
  // top: 0;
  /* background-size:0; */
  height: 10vh;
  width: 15vh;
  display: flex;
  margin: 0 30.5vh;
  justify-content: center;
  text-align: center;
  // visibility: hidden;
  // margin: 1em 0;
}

.crawl {
  position: relative;
  // left: 80px;
  top: -70px;
  line-height: -10%;
  font-size: 2.75vmax;
  // line-height: 1em;
  // font-size: 2vmax;
  height: 10vmax;
  // margin: 0 25vmax;
  margin: 0;
  padding: 0;
  // position: fixed;
  // text-align: justify;
  // transform-origin: bottom;
  // width: 18em;
  transform: perspective(100vmax) rotateX(70deg);
}

.crawl p {
  /* font: 700 1em/1.4em 'Open Sans'; */
  /* text-decoration: none; */
  // bottom: -100vmax;
  /* color: #ffd032; */
  margin: 2vmax auto;
  // position: relative;
  /* transform-origin: bottom; */
  /* width: 100%; */
}

a {
  // line-height: 0em;
  font: 700 1em/1.4em 'Open Sans';
  text-decoration: none;
  /* bottom: -100vmax; */
  color: #ffd032;
  color: #ffd032;
  // color: rgb(75, 213, 238);
  /* margin: 2vmax auto; */
  /* position: relative; */
  /* transform-origin: bottom; */
  /* width: 100%; */
}

.titleContainer {
}

.autoComplete {
  color: red;
  color: rgb(75, 213, 238);
}
